:root { 
--gray_400:#b5b5b5; 
--blue_gray_100:#d4d4d4; 
--black_900:#000000; 
--yellow_900:#f48e28; 
--gray_200:#e8e8e8; 
--white_A700:#ffffff; 
--yellow_100:#ffe3c9; 
--deep_orange_100:#f5dcc4; 
--black_900_26:#00000026; 
}